/* components/inputAlert/inputAlert.wxss */

.input-mark {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.content-view-class{
  position: relative;
  width: 670rpx;
  height: 300rpx;
  background: #fff;
  margin-top: 300rpx;
  margin-left: 40rpx;
  border-radius: 5rpx;
}
.eye-class{
  position: absolute;
  z-index: 55;
  width: 40rpx;
  height: 40rpx;
  top: 112rpx;
  right: 80rpx;
}
.input-title{
  float: left;
  width: 100%;
  height: 80rpx;
  text-align: center;
  font-size: 36rpx;
  font-weight: 200;
  color: #202020;
  line-height:80rpx; 
}
.input-bg-class{
  float: left;
  width: 510rpx;
  margin-left: 80rpx;
  margin-top: 20rpx;
  height: 60rpx;
  border-bottom: 1rpx #E5E5E5 solid;
}
.input-class{
  font-size: 32rpx;
  font-weight: 200;
  text-align: center;
  float: left;
  width: 430rpx;
  margin-left: 40rpx;
  height: 60rpx;
}
.button-box{
  position: relative;
  float: left;
  width: 100%;
  height: 80rpx;
  margin-top: 30rpx;
}
.button-box .button::after {
  border: 0
}
.button{
  position: absolute;
  width: 180rpx;
  height: 60rpx;
  line-height: 60rpx;
  font-size: 32rpx;
  font-weight: 200;
  text-align: center;
  border-radius: 0rpx;
  
}
.button-cancel{
  left: 80rpx;
  background-color: #E5E5E5;
}
.button-reject{
  right: 80rpx;
  color: #fff;
  background-color: #ff9f3d;
}