/* components/backHomeBtn/backHomeBtn.wxss */
.back-home-btn {
  width: 118rpx;
  height: 118rpx;
  border-radius: 118rpx;
  position: fixed;
  bottom: 88rpx;
  right: 50rpx;
  background-color: white;
  box-shadow: 0 0 16rpx #e5e5e5;
  color: #ff9f3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-home-btn image {
  width: 90%;
  height: 90%;
}
