/* components/videoPlay.wxss */
@import "../../font.css";
.video-play {
  height:180rpx;
  color:#fff;
  position:relative;
  overflow: hidden;
}
.add-certificate-voice-progress {
  height:50rpx;
  width:90%;
  margin:0 auto;
  margin-top:64rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.add-certificate-voice-progress .add-certificate-voice-progress--btn {
  font-family: "icon-one";
  width:48rpx;
  height:48rpx;
  color: #ed6c00;
  flex-grow:0;
  font-size:48rpx;
  line-height: 1;
  margin-right: 32rpx;

}

.add-certificate-voice-progress .add-certificate-voice-progress--start{
  color:#999;
  font-size:22rpx;
  flex-grow:0;
  margin:0 8rpx;
}
.add-certificate-voice-progress .add-certificate-voice-progress--end{
 color:#999;
 font-size:22rpx;
 flex-grow:0;
 margin:0 8rpx;
}
.add-certificate-voice-progress .add-certificate-voice-progress--loading{
  height:4rpx;
  background: #E6E6E6;
  flex:1;
  margin:0 10rpx;
  border-radius: 2rpx;
}
.add-certificate-voice-delete {
  position:absolute;
  width:24rpx;
  height:24rpx;
  right:32rpx;
  top:32rpx;
  background: #ccc;
}