.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:84rpx;
  background:#F7F8F9FF;
  border-radius:4rpx;
  width: calc(100% - 48rpx);
  padding: 0 24rpx;
}
.search .icon-search {
  width: 32rpx;
  height: 32rpx;
}
.search .search-input {
  width: calc(100% - 30px);
  height: 84rpx;
  line-height: 84rpx;
  box-sizing: border-box;
  font-size: 28rpx;
  color: #999999;
  font-weight: 400;
  background: transparent;
}

.search-box .cancel-button {
  position: absolute;
  right: 16rpx;
  top: 0;
  font-size: 28rpx;
  line-height: 84rpx;
  color: #606060;
  z-index: 10;
}